@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("image/2.jpeg");
    display: table;
    top: 0;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    max-width: none;
    margin: 0 auto;
    float: left;
}

.content{
    max-width: 500px;
    margin: 0 auto;
}
.content h1{
    font-family: 'Raleway', sans-serif;
    color: #751427;
    text-shadow: 0px 0px 300px #000;
    font-size: 500%;
}


.btn{
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: black;
    font-size: 135%;
    padding: 10px 20px;
    border: solid white 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover{
    background-color: white;
    color: #751427;
    border: solid #fff;
}

.topnav {
    border: 5px solid white;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: white 2px;
    color: #751427;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }



#left{
    float: left;
}

#left img{
    border-radius: 50%;
}

#right{
    float: right;
    padding-top: 15px;
}
#myTopnav{
    width: 100%;
    display: table-row;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .content h1{
        font-family: 'Raleway', sans-serif;
        color: #751427;
        text-shadow: 0px 0px 300px #000;
        font-size: 250%;
    }

  }